<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\Firegento\DevDashboard\Api\ConfigRepositoryInterface" type="\Firegento\DevDashboard\Model\ConfigRepository" />
    <preference for="\Firegento\DevDashboard\Api\Data\ConfigInterface" type="\Firegento\DevDashboard\Model\Config" />
</config>