.devdashboard_developer_widgets {
    display: flex;
    align-items: flex-start;
}

.devdashboard_developer_widgets section {
    border: teal 2px solid;
    width: 33%;
    margin: 0 0.5% 0.5% 0;
}
.devdashboard_developer_widgets section > div {
    padding: 0.5em;
}
.devdashboard_developer_widgets h2 {
    background-color: teal;
    color: white;
    padding: 1em 0.5em 0.5em;
}

.devdashboard_developer_widgets #cache_grid_table .col-description {
    display: none;
}